.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

html {
  background-color: #282c34;
}

#nav {
  background-color: white;
  width: 100%;
}

#logo {
  color: white;
  font-size: 1.5rem;
  display: inline;
  letter-spacing: 0.3rem;
}

.body {
  color: white
}

.title {
  font-size: 7vw;
  margin-top: 2rem;
  text-align: left;
}

.subtitle {
  text-align: left;
  font-size: 3vw;
  margin-bottom: 2rem;
}

.vl {
  border-left: 6px solid white;
  height: 100%;
  position: relative;
}

.buttonText {
  font-size: 1.5vw;
  text-align: center;
  letter-spacing: 0.15rem;
}

.headingText {
  font-size: 6vw;
  text-align: center;
  display: inline-block;
  letter-spacing: 1rem;
}
